<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="register-container">
        <form method="POST" action="{{ url_for('register') }}">
            <h2>Register</h2>
            {{ form.hidden_tag() }}
            <div>
                <label for="username">Username</label>
                {{ form.username(class="form-control") }}
            </div>
            <div>
                <label for="password">Password</label>
                {{ form.password(class="form-control") }}
            </div>
            <div>
                <label for="confirm_password">Confirm Password</label>
                {{ form.confirm_password(class="form-control") }}
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
            <a href="{{ url_for('login') }}">Already have an account? Login</a>
        </form>
    </div>
</body>

</html>
